@model ThinkAnew.BundledBroker.UI.Models.LoginViewModel

@using (Html.BeginUmbracoForm(@"Login", @"Account", FormMethod.Post,
                new { enctype = @"multipart/form-data", @class = @"navbar-form navbar-right", role = @"form" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <label class="sr-only" for="UserName1">Username</label>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        @(Html.Kendo().TextBoxFor(m => m.UserName)
              .Name("Username")
              .HtmlAttributes(new { @placeholder = @"Email Address", type = @"email" })
        )
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="input-group">
        <label class="sr-only" for="Password">Password</label>
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        @(Html.Kendo().TextBoxFor(m => m.Password)
              .Name(@"Password")
              .HtmlAttributes(new { @placeholder = @"Password", @type = @"password" })
        )
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @(Html.Kendo().Button()
          .Name(@"LoginButton")
          .Content(@"Login")
          .HtmlAttributes(new { type = @"submit" })
    )
}